tr.rule-overview-needs-attention td a { color: #d9534f }

td.rule-result div { text-align: center; font-weight: bold; color: #fff; background: #808080 }
td.rule-result-fail div { background: #d9534f }
td.rule-result-error div { background: #d9534f }
td.rule-result-unknown div { background: #f0ad4e }
td.rule-result-pass div { background: #5cb85c }
td.rule-result-fixed div { background: #5cb85c }

.js-only { display: none }

.rule-result-filtered, .rule-result-filtered > * { display: none !important }
.search-no-match, .search-no-match > * { display: none !important }

.rule-detail-fail, .rule-detail-error, .rule-detail-unknown { border: 2px solid #d9534f }

#footer { text-align: center; margin-top: 50px }

pre
{
    overflow: auto !important;
    word-wrap: normal !important;
    white-space: pre;
}

div.check-system-details, div.remediation, div.description { display: inline-block; width: 0; min-width: 100%; overflow-x: auto }

div.modal-body
{
    margin: 50px;
    padding: 0;
}

div.horizontal-scroll
{
    overflow-x: auto;
}

div.top-spacer-10
{
    margin-top: 10px;
}

@media print
{
    .container { width: 100% }
    /* ":after" instead of "::after" is used for compatibility with IE8 */
    .rule-result abbr[title]:after { content: "" }
    .identifiers abbr[title]:after { content: "" }
    .identifiers a[href]:after { content: "" }
}
