.clang_complete
.deps/
.dirstamp
.gdb_history
.libs/
.*.swp
Makefile
Makefile.in

*~

*.o
*.lo
*.a
*.la

oscap_debug.log.*

/ChangeLog
/aclocal.m4
/autom4te.cache
/config/compile
/config/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config/config.sub
/configure
/config/depcomp
/config/install.sh
/config/ltmain.sh
/config/install-sh
/config/missing
/config/test-driver
/cscope.*
/run
/stamp-*
/libtool
/docs/html/
/utils/oscap
/utils/oscap_docker_python/*.pyc
/utils/oscap-docker
/libopenscap.pc
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
selinux/oscap.pp
/src/OVAL/oval_testing_ext_probe.c
/src/OVAL/probes/probe_*
/schemas/build/
/swig/perl/openscap.pm
/swig/perl/openscap_pm_wrap.c
/swig/python2/openscap.py
/swig/python2/openscap_py_wrap.c
/swig/python2/openscap_api.pyc
/swig/python3/openscap.py
/swig/python3/openscap_py_wrap.c
/swig/python3/openscap_api.pyc
/config/py-compile
/lib/alloca.h
/lib/arpa/*
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/dirent.h
/lib/fcntl.h
/lib/netdb.h
/lib/signal.h
/lib/sys/*
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/time.h
/lib/unistd.h
/lib/warn-on-use.h
/lib/wchar.h
/openscap-*.tar.gz
/openscap-*/
/tests/**/*.sh.log
/tests/**/*.sh.trs
/tests/**/test-suite.log
/tests/**/test_*.log
/tests/**/tests_*.log
/tests/API/CPE/dict/dict.xml.out
/tests/API/CPE/dict/test_api_cpe_dict
/tests/API/CPE/lang/export.xml.out.0
/tests/API/CPE/lang/get-all.out
/tests/API/CPE/lang/get-key.out
/tests/API/CPE/lang/test_api_cpe_lang
/tests/API/CPE/name/creation.out
/tests/API/CPE/name/matching.out
/tests/API/CPE/name/parsing.out
/tests/API/CPE/name/parsing.out.1
/tests/API/CPE/name/test_api_cpe_uri
/tests/API/CVE/nvdcve-2.0-recent.out.xml
/tests/API/CVE/test_api_cve
/tests/API/CVSS/test_api_cvss
/tests/API/OVAL/exported-directives.xml
/tests/API/OVAL/exported-results.xml
/tests/API/OVAL/report_variable_values/report_variable_values.log
/tests/API/OVAL/test_api_directives
/tests/API/OVAL/test_api_oval
/tests/API/OVAL/test_api_results
/tests/API/OVAL/test_api_syschar
/tests/API/SEAP/test_api_SEXP_deepcmp
/tests/API/SEAP/test_api_seap_concurency
/tests/API/SEAP/test_api_seap_list
/tests/API/SEAP/test_api_seap_number
/tests/API/SEAP/test_api_seap_parser
/tests/API/SEAP/test_api_seap_spb
/tests/API/SEAP/test_api_seap_string
/tests/API/SEAP/test_api_sexp_ID
/tests/API/SEAP/test_api_strto
/tests/API/XCCDF/parser/test_api_xccdf
/tests/API/XCCDF/unittests/not_executable
/tests/API/XCCDF/unittests/test_oscap_common
/tests/API/XCCDF/unittests/test_xccdf_shall_pass
/tests/API/crypt/test_crapi_digest
/tests/API/crypt/test_crapi_mdigest
/tests/API/probes/oval_fts_list
/tests/API/probes/test_api_probes_smoke
/tests/DS/ds_sds_index/ds_sds_index.log
/tests/DS/ds_sds_index/test_ds_sds_index
/tests/DS/ds_sds_index/test_ds_sds_index_invalid
/tests/DS/ds_sds_index/test_ds_sds_index_multiple
/tests/mitre/ind-def_environmentvariable_test.xml.results
/tests/mitre/ind-def_family_test.xml.results
/tests/mitre/ind-def_filehash58_test.xml.results
/tests/mitre/ind-def_textfilecontent54_test.xml.results
/tests/mitre/ind-def_textfilecontent_test.xml.results
/tests/mitre/ind-def_unknown_test.xml.results
/tests/mitre/ind-def_variable_test.xml.results
/tests/mitre/ind-def_xmlfilecontent_test.xml.results
/tests/mitre/linux-def_inetlisteningservers_test.xml.results
/tests/mitre/linux-def_partition_test.xml.results
/tests/mitre/linux-def_rpminfo_test.xml.results
/tests/mitre/linux-def_rpmverify_test.xml.results
/tests/mitre/linux-def_selinuxsecuritycontext_test.xml.results
/tests/mitre/oval-def_arithmetic_function.xml.results
/tests/mitre/oval-def_begin_function.xml.results
/tests/mitre/oval-def_concat_function.xml.results
/tests/mitre/oval-def_constant_variable.xml.results
/tests/mitre/oval-def_criteria.xml.results
/tests/mitre/oval-def_criterion.xml.results
/tests/mitre/oval-def_end_function.xml.results
/tests/mitre/oval-def_escape_regex_function.xml.results
/tests/mitre/oval-def_extend_definition.xml.results
/tests/mitre/oval-def_external_variable.xml.results
/tests/mitre/oval-def_literal_component.xml.results
/tests/mitre/oval-def_local_variable.xml.results
/tests/mitre/oval-def_object_component.xml.results
/tests/mitre/oval-def_regex_capture_function.xml.results
/tests/mitre/oval-def_set.xml.results
/tests/mitre/oval-def_split_function.xml.results
/tests/mitre/oval-def_substring_function.xml.results
/tests/mitre/oval-def_variable_component.xml.results
/tests/mitre/oval_binary_datatype.xml.results
/tests/mitre/oval_boolean_datatype.xml.results
/tests/mitre/oval_check_enumeration_entity.xml.results
/tests/mitre/oval_check_enumeration_object_state.xml.results
/tests/mitre/oval_check_enumeration_variable_values.xml.results
/tests/mitre/oval_evr_string_datatype.xml.results
/tests/mitre/oval_existence_enumeration.xml.results
/tests/mitre/oval_float_datatype.xml.results
/tests/mitre/oval_int_datatype.xml.results
/tests/mitre/oval_string_datatype.xml.results
/tests/mitre/oval_version_datatype.xml.results
/tests/mitre/unix-def_password_test.xml.results
/tests/mitre/unix-def_uname_test.xml.results
/tests/oscap_string/test_oscap_string
/tests/probes/environmentvariable/test_probes_environmentvariable-fail.results.xml
/tests/probes/environmentvariable/test_probes_environmentvariable-fail.xml
/tests/probes/environmentvariable/test_probes_environmentvariable.results.xml
/tests/probes/environmentvariable/test_probes_environmentvariable.xml
/tests/probes/environmentvariable58/test_probes_environmentvariable58-fail.results.xml
/tests/probes/environmentvariable58/test_probes_environmentvariable58-fail.xml
/tests/probes/environmentvariable58/test_probes_environmentvariable58.results.xml
/tests/probes/environmentvariable58/test_probes_environmentvariable58.xml
/tests/probes/family/results.xml
/tests/probes/file/results.xml
/tests/probes/filehash/results.xml
/tests/probes/filehash/test_probes_filehash.xml
/tests/probes/filehash58/results.xml
/tests/probes/filehash58/test_probes_filehash58.xml
/tests/probes/interface/results.xml
/tests/probes/interface/test_probes_interface
/tests/probes/interface/test_probes_interface.xml
/tests/probes/password/results.xml
/tests/probes/password/test_probes_password.xml
/tests/probes/process/results.xml
/tests/probes/process/test_probes_process.xml
/tests/probes/rpminfo/results.xml
/tests/probes/rpminfo/test_probes_rpminfo.xml
/tests/probes/runlevel/results_A.xml
/tests/probes/runlevel/results_B.xml
/tests/probes/runlevel/test_probes_runlevel_A.xml
/tests/probes/runlevel/test_probes_runlevel_B.xml
/tests/probes/selinuxboolean/test_probes_selinuxboolean-fail.results.xml
/tests/probes/selinuxboolean/test_probes_selinuxboolean-fail.xml
/tests/probes/selinuxboolean/test_probes_selinuxboolean.results.xml
/tests/probes/selinuxboolean/test_probes_selinuxboolean.xml
/tests/probes/sysinfo/test_probes_sysinfo
/tests/probes/textfilecontent54/results.xml
/tests/probes/textfilecontent54/tfc54-def-5.10-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.10.1-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.4-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.5-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.6-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.7-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.8-valid-results.xml
/tests/probes/textfilecontent54/tfc54-def-5.9-valid-results.xml
/tests/probes/uname/results.xml
/tests/probes/uname/test_probes_uname.xml
/tests/probes/xinetd/test_probe_xinetd
/tests/sce/sce_xccdf.xml.results
/tests/sce/test_sce.log
/tests/schemas/test_schemas.log
/tests/test_common.sh
