.clang_complete
.deps/
.dirstamp
.gdb_history
.libs/
.*.swp
tags

CMakeLists.txt.user
build/
*~

*.o
*.lo
*.a
*.la
.cproject
.project
.settings/language.settings.xml

/ChangeLog
/cscope.*
/stamp-*
/src/OVAL/oval_testing_ext_probe.c
/src/OVAL/probes/probe_*
/schemas/build/
