ChangeLog
Makefile
Makefile.in
aclocal.m4
*.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install.sh
ltmain.sh
install-sh
missing
.dirstamp
stamp-*
.deps/
.libs/
libtool
*.o
*.lo
*.a
*.la
docs/html/
utils/oscap
libopenscap.pc
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/OVAL/oval_testing_ext_probe.c
src/OVAL/probes/probe_*
swig/openscap.pm
swig/openscap.py
swig/openscap_pm_wrap.c
swig/openscap_py_wrap.c
swig/openscap_api.pyc
config/py-compile
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/unistd.h
lib/warn-on-use.h
lib/wchar.h

oscap_debug.log.*

*~
.*.swp
.clang_complete
